.idea/dictionaries/Talh2.xml
*.pyc
venv/Lib/site-packages/configparser.py
venv/Lib/site-packages/crayons.py
venv/Lib/site-packages/backports/__init__.py
venv/Lib/site-packages/backports/configparser/__init__.py
venv/Lib/site-packages/backports/configparser/helpers.py
venv/Lib/site-packages/certifi/__init__.py
venv/Lib/site-packages/certifi/__main__.py
venv/Lib/site-packages/certifi/cacert.pem
venv/Lib/site-packages/certifi/core.py
venv/Lib/site-packages/certifi-2020.6.20.dist-info/INSTALLER
venv/Lib/site-packages/certifi-2020.6.20.dist-info/LICENSE
venv/Lib/site-packages/certifi-2020.6.20.dist-info/METADATA
venv/Lib/site-packages/certifi-2020.6.20.dist-info/RECORD
venv/Lib/site-packages/certifi-2020.6.20.dist-info/top_level.txt
venv/Lib/site-packages/certifi-2020.6.20.dist-info/WHEEL
venv/Lib/site-packages/chardet/__init__.py
venv/Lib/site-packages/chardet/big5freq.py
venv/Lib/site-packages/chardet/big5prober.py
venv/Lib/site-packages/chardet/chardistribution.py
venv/Lib/site-packages/chardet/charsetgroupprober.py
venv/Lib/site-packages/chardet/charsetprober.py
venv/Lib/site-packages/chardet/codingstatemachine.py
venv/Lib/site-packages/chardet/compat.py
venv/Lib/site-packages/chardet/cp949prober.py
venv/Lib/site-packages/chardet/enums.py
venv/Lib/site-packages/chardet/escprober.py
venv/Lib/site-packages/chardet/escsm.py
venv/Lib/site-packages/chardet/eucjpprober.py
venv/Lib/site-packages/chardet/euckrfreq.py
venv/Lib/site-packages/chardet/euckrprober.py
venv/Lib/site-packages/chardet/euctwfreq.py
venv/Lib/site-packages/chardet/euctwprober.py
venv/Lib/site-packages/chardet/gb2312freq.py
venv/Lib/site-packages/chardet/gb2312prober.py
venv/Lib/site-packages/chardet/hebrewprober.py
venv/Lib/site-packages/chardet/jisfreq.py
venv/Lib/site-packages/chardet/jpcntx.py
venv/Lib/site-packages/chardet/langbulgarianmodel.py
venv/Lib/site-packages/chardet/langcyrillicmodel.py
venv/Lib/site-packages/chardet/langgreekmodel.py
venv/Lib/site-packages/chardet/langhebrewmodel.py
venv/Lib/site-packages/chardet/langhungarianmodel.py
venv/Lib/site-packages/chardet/langthaimodel.py
venv/Lib/site-packages/chardet/langturkishmodel.py
venv/Lib/site-packages/chardet/latin1prober.py
venv/Lib/site-packages/chardet/mbcharsetprober.py
venv/Lib/site-packages/chardet/mbcsgroupprober.py
venv/Lib/site-packages/chardet/mbcssm.py
venv/Lib/site-packages/chardet/sbcharsetprober.py
venv/Lib/site-packages/chardet/sbcsgroupprober.py
venv/Lib/site-packages/chardet/sjisprober.py
venv/Lib/site-packages/chardet/universaldetector.py
venv/Lib/site-packages/chardet/utf8prober.py
venv/Lib/site-packages/chardet/version.py
venv/Lib/site-packages/chardet/cli/__init__.py
venv/Lib/site-packages/chardet/cli/chardetect.py
venv/Lib/site-packages/chardet-3.0.4.dist-info/DESCRIPTION.rst
venv/Lib/site-packages/chardet-3.0.4.dist-info/entry_points.txt
venv/Lib/site-packages/chardet-3.0.4.dist-info/INSTALLER
venv/Lib/site-packages/chardet-3.0.4.dist-info/METADATA
venv/Lib/site-packages/chardet-3.0.4.dist-info/metadata.json
venv/Lib/site-packages/chardet-3.0.4.dist-info/RECORD
venv/Lib/site-packages/chardet-3.0.4.dist-info/top_level.txt
venv/Lib/site-packages/chardet-3.0.4.dist-info/WHEEL
venv/Lib/site-packages/colorama/__init__.py
venv/Lib/site-packages/colorama/ansi.py
venv/Lib/site-packages/colorama/ansitowin32.py
venv/Lib/site-packages/colorama/initialise.py
venv/Lib/site-packages/colorama/win32.py
venv/Lib/site-packages/colorama/winterm.py
venv/Lib/site-packages/colorama-0.4.3.dist-info/INSTALLER
venv/Lib/site-packages/colorama-0.4.3.dist-info/LICENSE.txt
venv/Lib/site-packages/colorama-0.4.3.dist-info/METADATA
venv/Lib/site-packages/colorama-0.4.3.dist-info/RECORD
venv/Lib/site-packages/colorama-0.4.3.dist-info/top_level.txt
venv/Lib/site-packages/colorama-0.4.3.dist-info/WHEEL
venv/Lib/site-packages/configparser-5.0.0.dist-info/INSTALLER
venv/Lib/site-packages/configparser-5.0.0.dist-info/LICENSE
venv/Lib/site-packages/configparser-5.0.0.dist-info/METADATA
venv/Lib/site-packages/configparser-5.0.0.dist-info/RECORD
venv/Lib/site-packages/configparser-5.0.0.dist-info/top_level.txt
venv/Lib/site-packages/configparser-5.0.0.dist-info/WHEEL
venv/Lib/site-packages/crayons-0.3.1.dist-info/INSTALLER
venv/Lib/site-packages/crayons-0.3.1.dist-info/LICENSE
venv/Lib/site-packages/crayons-0.3.1.dist-info/METADATA
venv/Lib/site-packages/crayons-0.3.1.dist-info/RECORD
venv/Lib/site-packages/crayons-0.3.1.dist-info/top_level.txt
venv/Lib/site-packages/crayons-0.3.1.dist-info/WHEEL
venv/Lib/site-packages/idna/__init__.py
venv/Lib/site-packages/idna/codec.py
venv/Lib/site-packages/idna/compat.py
venv/Lib/site-packages/idna/core.py
venv/Lib/site-packages/idna/idnadata.py
venv/Lib/site-packages/idna/intranges.py
venv/Lib/site-packages/idna/package_data.py
venv/Lib/site-packages/idna/uts46data.py
venv/Lib/site-packages/idna-2.10.dist-info/INSTALLER
venv/Lib/site-packages/idna-2.10.dist-info/LICENSE.rst
venv/Lib/site-packages/idna-2.10.dist-info/METADATA
venv/Lib/site-packages/idna-2.10.dist-info/RECORD
venv/Lib/site-packages/idna-2.10.dist-info/top_level.txt
venv/Lib/site-packages/idna-2.10.dist-info/WHEEL
venv/Lib/site-packages/requests/__init__.py
venv/Lib/site-packages/requests/__version__.py
venv/Lib/site-packages/requests/_internal_utils.py
venv/Lib/site-packages/requests/adapters.py
venv/Lib/site-packages/requests/api.py
venv/Lib/site-packages/requests/auth.py
venv/Lib/site-packages/requests/certs.py
venv/Lib/site-packages/requests/compat.py
venv/Lib/site-packages/requests/cookies.py
venv/Lib/site-packages/requests/exceptions.py
venv/Lib/site-packages/requests/help.py
venv/Lib/site-packages/requests/hooks.py
venv/Lib/site-packages/requests/models.py
venv/Lib/site-packages/requests/packages.py
venv/Lib/site-packages/requests/sessions.py
venv/Lib/site-packages/requests/status_codes.py
venv/Lib/site-packages/requests/structures.py
venv/Lib/site-packages/requests/utils.py
venv/Lib/site-packages/requests-2.24.0.dist-info/DESCRIPTION.rst
venv/Lib/site-packages/requests-2.24.0.dist-info/INSTALLER
venv/Lib/site-packages/requests-2.24.0.dist-info/LICENSE.txt
venv/Lib/site-packages/requests-2.24.0.dist-info/METADATA
venv/Lib/site-packages/requests-2.24.0.dist-info/metadata.json
venv/Lib/site-packages/requests-2.24.0.dist-info/RECORD
venv/Lib/site-packages/requests-2.24.0.dist-info/top_level.txt
venv/Lib/site-packages/requests-2.24.0.dist-info/WHEEL
venv/Lib/site-packages/webdriver_manager/__init__.py
venv/Lib/site-packages/webdriver_manager/archive.py
venv/Lib/site-packages/webdriver_manager/chrome.py
venv/Lib/site-packages/webdriver_manager/driver.py
venv/Lib/site-packages/webdriver_manager/driver_cache.py
venv/Lib/site-packages/webdriver_manager/firefox.py
venv/Lib/site-packages/webdriver_manager/logger.py
venv/Lib/site-packages/webdriver_manager/manager.py
venv/Lib/site-packages/webdriver_manager/microsoft.py
venv/Lib/site-packages/webdriver_manager/opera.py
venv/Lib/site-packages/webdriver_manager/utils.py
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/INSTALLER
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/LICENSE.txt
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/METADATA
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/RECORD
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/REQUESTED
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/top_level.txt
venv/Lib/site-packages/webdriver_manager-3.2.1.dist-info/WHEEL
venv/Scripts/chardetect.exe
